@tailwind base;
@tailwind components;
@tailwind utilities;

/* ClickEats Custom Styles */
.bg-cream-50 {
  background-color: #fafafa;
}

.bg-cream-100 {
  background-color: #f5f5f5;
}

.bg-cream-200 {
  background-color: #e5e5e5;
}

.border-cream-200 {
  border-color: #e5e5e5;
}

.border-cream-300 {
  border-color: #d4d4d4;
}

.hover\:bg-cream-50:hover {
  background-color: #fafafa;
}

.hover\:bg-cream-100:hover {
  background-color: #f5f5f5;
}

.hover\:bg-cream-200:hover {
  background-color: #e5e5e5;
}

.hover\:border-cream-400:hover {
  border-color: #a3a3a3;
}

.focus\:ring-cream-500:focus {
  --tw-ring-color: #3a2c21;
}

/* Hide scrollbar for mobile nav */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Image loading optimization */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Preload critical images */
.preload-image {
  content: '';
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
}
